<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>

            <md-card>
                <md-input-container>
                    <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let state of filteredStates | async" [value]="state">
                        {{ state }}
                    </md-option>
                </md-autocomplete>
            </md-card>
        </div>
    </div>
</div>
